body {

	font-size: 20px;
	text-align: center;
	padding: 5px;
}


.dersler {}

.ders {
	border: 5px solid #000000;
	padding: 10px 0 0 0;
	background-color: hsla(136, 59%, 40%, 0.514);
	width: 200px;
}

.ders:not(:last-child) {
	margin: 0 0 15px 0;
}

.ders1__title {
	text-align: center;
	margin: 10px 0;
}

.ders1__kutular div {
	margin: 0px 0px 10px 0px;
}




.s1 {
	width: 100px;
	height: 26px;
	border: 1px solid black;

}

.s2 {
	width: 100px;
	height: 26px;
	border: 1px solid black;

}

.p1 {
	width: 100px;
	height: 26px;
	border: 1px solid black;

}

.p2 {
	width: 100px;
	height: 26px;
	border: 1px solid black;

}

.ds {
	width: 100px;
	height: 26px;
	border: 1px solid black;

}

.ot {
	display: inline-block;
	width: 100px;
	height: 26px;
	border: 1px solid black;

}

.ortalama {}

.btn1 {
	width: 70px;
	height: 26px;
	border-radius: 7px;
	background-color: #8a7272;
	color: rgb(241, 234, 234);
	cursor: pointer;
	border: 2px dotted black;
}

.btn1:active {
	background-color: #9b8484;
	border: 2px solid black;

}

.ders:last-child {
	text-align: left;
}

.button {
	margin: 20px 0 0 10px;
	display: inline-block;
}

.btn {
	width: 120px;
	height: 40px;
	border-radius: 7px;
	background-color: #8a7272;
	color: rgb(241, 234, 234);
	cursor: pointer;
	border: 2px solid black;
}
.btn:hover {
	background-color: #9e7672;
}
.sonders {
	padding: 10px;
}


.ortalama {
	display: inline-block;
	width: 200px;
	height: 40px;
	border: 3px solid #8a7272;
	margin: 20px 0 0 0;
	border-radius: 12px;
	text-align: center;
}

.belge {
	display: inline-block;
	width: 200px;
	height: 40px;
	border: 3px solid #8a7272;
	margin: 20px 0 0 0;
	border-radius: 12px;
	text-align: center;
}
