@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700;800&display=swap');

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	border: 0;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	transition: all 200ms ease 0ms;
}

* {
	cursor: cell;
}

a {
	text-decoration: none;
	cursor: pointer;
}

ul,
ol,
li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inhert;
	font-size: inhert;
}

html,
body {
	height: 100%;
	line-height: 1;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

button {
	cursor: pointer;
}

/*=*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*==*/

body {
	font-family: Rubik;
	font-size: 12px;
	color: #616161;
}

.wrapper {
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

[class*="__container"] {
	max-width: 1087px;
	margin: 0 auto;
	padding: 0 15px;
}

.main {
	flex: 1 1 auto;
}

/* -----------------------------------------------------------------------------------------------------------------*/

/* PC */
@media (max-width: 1087px) {
	[class*="__container"] {
		max-width: 970px;
	}
}

/* TABLET */
@media (max-width: 991.98px) {
	[class*="__container"] {
		max-width: 750px;
	}
}

/* MOBILE BIG */
@media (max-width: 767.98px) {
	[class*="__container"] {
		max-width: 460px;
		margin: 0 auto;
	}
}

/* MOBILE STANDART */
@media (max-width: 479.98px) {
	[class*="__container"] {
		max-width: 315px;
		margin: 0 auto;
	}
}

/* MOBILE SMALL */
@media (max-width: 319.98px) {
	[class*="__container"] {
		max-width: none;
		margin: 0 auto;
	}
}



/* -----------------------------------------------------------------------------------------------------------------*/



.header {
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 54;
}

.header__container {
	display: flex;
	min-height: 114px;
	align-items: center;
}

.header__logo {}

.header__menu {
	flex: 1 1 auto;
}

.header__button {
	flex: 0 0 252px;
	display: flex;
	justify-content: flex-end;
}

.menu {
	display: flex;
	justify-content: flex-end;
}

.menu__list {
	display: flex;
}

.menu__item {
	margin: 0 40px 0 0;
	position: relative;
}

@media (min-width: 991.98px) {

	.menu__item:hover .menu__decor--1,
	.menu__item:hover .menu__decor--3 {
		height: 33px;
	}

	.menu__item:hover .menu__decor--2,
	.menu__item:hover .menu__decor--4 {
		width: 90px;
	}

	.menu__item:hover .menu__decor--2f,
	.menu__item:hover .menu__decor--4f {
		width: 113px;
	}

	.menu__item:hover .menu__decor--2s,
	.menu__item:hover .menu__decor--4s {
		width: 108px;
	}

	.menu__item:hover .menu__decor--2c,
	.menu__item:hover .menu__decor--4c {
		width: 128px;
	}


	.menu__decor {
		position: absolute;
	}

	.menu__decor--1 {
		height: 0px;
		background-color: #ec5863;
		width: 5px;
		left: -15px;
		bottom: -4px;
		border-radius: 0 0 0 20px;
		box-shadow: 5px 0px 15px 0px #ec5863;
	}

	.menu__decor--2 {
		height: 5px;
		background-color: #ec5863;
		width: 0px;
		left: -15px;
		top: -4px;
		border-radius: 20px 0 0 0;
		box-shadow: 0px 5px 15px 0px #ec5863;
	}

	.menu__decor--3 {
		height: 0px;
		background-color: #ec5863;
		width: 5px;
		right: -15px;
		top: -4px;
		border-radius: 0 20px 0 0;
		box-shadow: -5px 0px 15px 0px #ec5863;
	}

	.menu__decor--4 {
		height: 5px;
		background-color: #ec5863;
		width: 0px;
		right: -15px;
		bottom: -4px;
		border-radius: 0 0 20px 0;
		box-shadow: 0px -5px 15px 0px #ec5863;
	}
}

.menu__link {
	display: block;
	padding: 8px 15px;
	font-family: Raleway;
	color: #000000;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 10px;
	line-height: 12px;
	letter-spacing: 1px;
	height: 30px;
	transition: 150ms ease;
}

@media (max-width: 991.98px) {

	.menu__link:hover {
		background-color: #FAFBFD;
		text-decoration: underline;
		border-radius: 8px;
		box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
	}
}

.button {
	display: inline-block;
	padding: 14px 32.5px;
	font-weight: 800;
	font-size: 10px;
	line-height: 1.2;
	letter-spacing: 1px;
	text-transform: uppercase;
	font-family: Raleway;
	background-color: #EC5863;
	border-radius: 5px;
	color: #FCFDFE;
	transition: background-color 300ms ease 0ms;
}

.button:hover {
	background-color: #e98188;
}

.button-blue {
	background-color: #4285F4;
}

.button-blue:hover {
	background-color: #659aef;
}

@media (max-width: 991.98px) {
	.header__container {
		min-height: 80px;
	}

	.header__button {
		flex: 0 0 170px;
	}

	.menu__item {
		margin: 0 30px 0 0;
	}

	.menu__link {
		display: inline;
		height: none;
		padding: 8px;
	}
}

@media (max-width: 767.98px) {
	.header__logo {
		width: 40px;
		overflow: hidden;
	}

	.menu__link {
		font-size: 8px;
		padding: 0;
	}

	.menu__item {
		margin: 0 20px 0 0;
	}

	.menu__list {}

	.button {
		font-size: 8px;
		padding: 12px 25px;
	}

	.header__button {
		flex: 0 0 106px;
	}

}

@media (max-width: 479.98px) {
	.header__container {
		min-height: 95px;
		padding: 15px 0 0 0;
		margin: 0 auto;
		flex-wrap: wrap;
	}

	.header__logo {
		order: 1;
	}

	.header__menu {
		text-decoration: underline;
		order: 3;
	}

	.header__button {
		padding: 0 0 0 20px;
		order: 2;
	}

	.menu__item {
		margin: 0 0 0 0;
	}

	.menu__list {
		width: 260px;
		margin: 0 auto;
		justify-content: space-between;
	}

	.menu__link {
		font-size: 10px;
		letter-spacing: 0.5px;
	}

	.header__logo {
		padding: 0 0 0 20px;
		width: 160px;
		overflow: visible;
	}
}

/*-/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-*/

/* --------------------------------------------------- */

.block-text {}

.block-text--center {
	text-align: center;
}

.block-text__title {
	font-weight: 700;
	font-size: 44px;
	line-height: 126%;
	color: #000000;
}

.block-text__title:not(:last-child) {
	margin: 0 0 12px 0;
}

.block-text__title span {
	color: #EC5863;
}

.block-text__title--blue span {
	color: #4285F4;
}

.block-text__text {
	line-height: 138.5%;
}

.block-text__text--mw {
	max-width: 620px;
	margin: 0 auto;
}

.block-text__text:not(:last-child) {
	margin: 0 0 24px 0;
}

.block-text__button {}

/* --------------------------------------------------- */

.get-started {
	background-color: #FAFBFD;
}

.get-started__container {
	padding: 150px 15px 50px 15px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
}

.get-started__container::before {
	content: "";
	position: absolute;
	width: 100vw;
	height: 100%;
	top: 0;
	right: 267px;
	transform: translate(100%, 0px);
	background-color: #EC5863;
	border-radius: 30px 0px 0px 30px;
}

.get-started__content {
	flex: 0 1 48%;
	padding: 0 20px;
}

.get-started__block-text {
	max-width: 410px;
}

.get-started__image {
	position: relative;
	z-index: 22;
	flex: 0 1 52%;
}

.get-started__image img {
	max-width: 100%;
}

.get-started__video {
	padding: 60px 0 0 20px;
	flex: 1 1 100%;
}

.video-get-started {
	display: inline-flex;
	align-items: center;
}

.video-get-started__icon {
	flex: 0 0 44px;
}

.video-get-started__body {
	padding: 0 0 0 12px;
}

.video-get-started__title {
	color: #B0B0B0;
	font-weight: 400;
	font-size: 13px;
	line-height: 126%;
	letter-spacing: 1.5px;
}

.video-get-started__title:not(:last-child) {
	margin: 0 0 5px 0;
}

.video-get-started__text {
	font-weight: 400;
	font-size: 9px;
	line-height: 126%;
	color: #000000;
	letter-spacing: 2px;
	text-transform: uppercase;
}

@media (max-width: 991.98px) {
	.get-started__container::before {
		right: 185px;
	}
}

@media (max-width: 767.98px) {
	.get-started__container::before {
		display: none;
	}

	.get-started__container {
		padding: 120px 10px 50px 10px;
	}

	.get-started__block-text {
		max-width: none;
	}

	.get-started__content {
		flex: 1 1 100%;
		padding: 0;
	}

	.get-started__image {
		flex: 1 1 100%;
		padding: 30px 0;
		text-align: center;
	}

	.get-started__video {
		padding: 0;
	}

	.block-text__title {
		font-size: 34px;
	}
}

/*-/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\-*/

.stay-safe {
	padding: 80px 0;
}

.stay-safe__container {
	display: flex;
	align-items: center;
}

.stay-safe__media {
	flex: 0 1 50%;
}

.stay-safe__content {
	flex: 0 1 50%;
}

.stay-safe__block-text {}

.media-stay-safe {
	width: 373px;
	position: relative;
	text-align: center;
	padding: 56px 0 27px 0;
}

.media-stay-safe__image {
	display: inline-block;
	box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
	border-radius: 16px;
	position: relative;
	width: 61.5%;
}

.media-stay-safe__image img {
	position: relative;
	z-index: 5;
	max-width: 100%;
}

.media-stay-safe:hover .media-stay-safe__item {
	animation-play-state: paused;
}

.media-stay-safe__image::after {
	content: "";
	position: absolute;
	width: 206px;
	height: 27px;
	left: 12px;
	bottom: -12px;
	background: rgba(240, 240, 240, 0.49);
	border-radius: 16px;
	z-index: 2;
}

.media-stay-safe__item {
	background-color: #EC5863;
	border-radius: 30px;
	position: absolute;
	animation: decorrotate 12s linear infinite, decordeform1 2000ms linear infinite alternate;
}

.media-stay-safe__item-1 {
	width: 147px;
	height: 147px;
	left: 0;
	top: 0;
}

.media-stay-safe__item-2 {
	width: 77px;
	height: 77px;
	left: 33px;
	bottom: 0;
	animation: decorrotate 14s linear infinite, decordeform1 2000ms linear infinite alternate;

}

.media-stay-safe__item-3 {
	width: 77px;
	height: 77px;
	right: 34px;
	bottom: 107px;
	animation: decorrotate 10s linear infinite, decordeform1 2000ms linear infinite alternate;

}

@keyframes decordeform1 {
	0% {
		border-radius: 30% 50%;
	}

	100% {
		border-radius: 50% 30%;
	}
}

@keyframes decorrotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}

}


@media (min-width: 991.98px) {
	.stay-safe__media {
		padding: 0 0 0 47px;
	}
}

@media (max-width: 991.98px) {

	.stay-safe__content {
		margin: 0 0 30px 0;
	}

	.stay-safe {
		padding: 40px 0;
	}
}

@media (max-width: 767.98px) {
	.stay-safe__container {
		flex-direction: column-reverse;
	}

}

@media (max-width: 479.98px) {
	.media-stay-safe {
		width: 290px;
	}

	.media-stay-safe__image::after {
		width: 160px;
	}

	.stay-safe {
		padding: 30px 0;
	}
}

/* -/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\- */

.experts {
	background-color: #FAFBFD;
	padding: 103px 0 117px 0;
}

.eperts__container {}

.experts__statistics {}

.experts__block-text {
	max-width: 400px;
}

.experts__body {
	display: flex;
	align-items: center;
}

.experts__content {
	flex: 0 1 50%;
	padding: 0px 20px 0px 0px;
}

.experts__video {
	flex: 0 1 50%;
	position: relative;
	padding: 0px 0px 30% 0px;
	background: #FFFFFF;
	box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.2);
	border-radius: 10px;
	overflow: hidden;
}

.experts__video iframe {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}

.statistics-experts {
	max-width: 654px;
	margin: 0 auto;
	position: relative;
}

.statistics-experts:hover .statistics-experts__decor {
	animation-play-state: paused;
}

.statistics-experts__body {
	background: #FFFFFF;
	box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
	border-radius: 16px;
	position: relative;
	z-index: 2;
	margin: 0px 0px 80px 0px;
}

.body-statistics-experts {
	padding: 28px 80px;
	display: flex;
}

.body-statistics-experts__item {
	flex: 1 1 25%;
	text-align: center;
}

.body-statistics-experts__item:last-child {
	flex: 1 1 50%;
}

.body-statistics-experts__value {
	margin-bottom: 5px;
	font-family: 'Rubik';
	font-weight: 700;
	font-size: 36px;
	line-height: 1.2;
	letter-spacing: 1px;
	color: #EC5863;
}

.body-statistics-experts__text {
	font-family: 'Rubik';
	font-style: normal;
	font-weight: 700;
	font-size: 11px;
	line-height: 1.2;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #000000;
}


.statistics-experts__decor {
	position: absolute;
	border-radius: 30px;
	background: #EC5863;
	animation: decorrotate 10s linear infinite, decordeform1 2000ms linear infinite alternate;
}

.statistics-experts__decor--1 {
	border-radius: 16px;
	width: 65px;
	height: 65px;
	bottom: -21px;
	left: -21px;
	transform: rotate(-30deg);
}

.statistics-experts__decor--2 {
	width: 96px;
	height: 96px;
	top: -40px;
	right: 50%;
	transform: rotate(20deg);
}

.statistics-experts__decor--3 {
	width: 127px;
	height: 127px;
	top: 0;
	right: -50px;
	transform: rotate(-30deg);
}

@media (max-width: 767.98px) {
	.experts {
		padding: 80px 0 40px 0;
	}

	.experts__body {
		flex-direction: column;
		align-items: stretch;
	}

	.experts__video {
		padding: 0px 0px 58% 0px;
	}

	.experts__content {
		margin: 0px 0px 20px 0px;
	}

	.body-statistics-experts {
		padding: 28px 20px;
	}
}

@media (max-width: 479.98px) {
	.body-statistics-experts {
		flex-direction: column;
	}

	.body-statistics-experts__item:not(:last-child) {
		margin: 0px 0px 20px 0px;
	}

}

/* -/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\- */

.healthcare {
	padding: 80px 0px 30px 0px;
}

.healthcare__container {}

.healthcare__block-text {
	margin: 0px 0px 45px 0px;
}

.healthcare__items {
	display: flex;
}

.healthcare__column {
	position: relative;
	flex: 0 1 33.333%;
	padding: 0 36px;
}

.healthcare__item {}


.item-healthcare {
	height: 100%;
	position: relative;
	z-index: 2;
	background: #FFFFFF;
	box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 36px 17px;
}

.item-healthcare__icon {
	margin: 0px 0px 58px 0px;
}

.item-healthcare__title {
	font-weight: 700;
	font-size: 16px;
	line-height: 1.37;
	text-align: center;
	margin: 0px 0px 4px 0px;
	color: #000000;
}

.item-healthcare__text {
	line-height: 138.5%;
}

.healthcare__column--1::before,
.healthcare__column--1::after {
	content: "";
	position: absolute;
	background-color: #EC5863;
	border-radius: 16px;
	animation: decorrotate 10s linear infinite, decordeform1 2000ms linear infinite alternate;
}

.healthcare__column--1:hover::before,
.healthcare__column--1:hover::after {
	animation-play-state: paused;
}

.healthcare__column--1::before {
	width: 65px;
	height: 65px;
	bottom: -35px;
	left: 17px;
	transform: rotate(-30deg);
}

.healthcare__column--1::after {
	width: 96px;
	height: 96px;
	top: 35px;
	right: -10px;
	transform: rotate(20deg);
	border-radius: 30px;
}

.healthcare__column--2::before {
	content: "";
	position: absolute;
	background-color: #EC5863;
	border-radius: 30px;
	width: 127px;
	height: 127px;
	transform: rotate(-35deg);
	right: -40px;
	bottom: -35px;
	animation: decorrotate 8s linear infinite, decordeform1 2000ms linear infinite alternate;
}

.healthcare__column--2:hover::before {
	animation-play-state: paused;
}

.healthcare__column--3::before {
	content: "";
	position: absolute;
	background-color: #EC5863;
	border-radius: 16px;
	width: 65px;
	height: 65px;
	top: -30px;
	right: 20px;
	transform: rotate(-20deg);
	animation: decorrotate 12s linear infinite, decordeform1 2000ms linear infinite alternate;
}

.healthcare__column--3:hover::before {
	animation-play-state: paused;
}

@media (max-width: 991.98px) {
	.healthcare__column {
		padding: 0 15px;
	}

	.healthcare {
		padding: 30px 0;
	}
}

@media (max-width: 767.98px) {
	.healthcare__items {
		flex-direction: column;
	}

	.healthcare__column {
		margin: 0px 0px 25px 0px;
	}

	.healthcare__column--3::before {
		top: 120px;
		left: -10px;
	}
}

/* -/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\- */

.footer {
	padding: 45px 0;
}

.footer__container {}

.footer__items {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 56px;
	row-gap: 25px;
}

.footer__items img:hover {
	/* filter: brightness(135%); */
	filter: opacity(65%);
}

.footer__item {}

@media (max-width: 479.98px) {
	.footer__items {
		flex-direction: column;
	}
}